streamlit
python-dotenv
langsmith
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
sentence-transformers
chromadb
pypdf
pandas
numpy
torch
transformers
datasets
accelerate
scikit-learn
huggingface_hub
pyarrow==20.0.0
