streamlit>=1.44.0
python-dotenv
langsmith

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters

sentence-transformers==3.0.1
chromadb
pypdf
pandas
numpy
torch
transformers
datasets
accelerate
scikit-learn
huggingface_hub

groq
pillow
pyarrow==20.0.0
