streamlit
python-dotenv
pandas
numpy
scikit-learn
torch
transformers
sentence-transformers
huggingface_hub

datasets==2.19.2
pyarrow==20.0.0
protobuf==3.20.3

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
langsmith
